<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= service.name %> ! Start finding work and collaborating with parents  by completing your profile! </p>
<a href="/service/logout" class="btn btn-secondary">Logout</a>
