<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3 bold">Welcome <%= user.name %> ! Start finding care providers by completing your profile! </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
